@import 'vars.css';
@import 'animations.css';
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Border Box All The Things */
/* https://css-tricks.com/box-sizing/ */
html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  line-height: 1.4rem;
  font-size: var(--font-size-default);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* defuglify text links */
a {
  text-decoration: none;
}

body {
  background-color: var(--color-secondary-int1);
}

#app {
  width: 100%;
}
