@import 'vars.css';
@import 'animations.css';
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Border Box All The Things */
/* https://css-tricks.com/box-sizing/ */
html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  line-height: 1.4rem;
  font-size: var(--font-size-default);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* defuglify text links */
a {
  text-decoration: none;
}

body {
  background-color: var(--color-secondary-int1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  font-size: 12px;
}

#app {
  display: flex;
  flex-direction: columns;
  background-color: var(--color-editor-bg);
  height: 90vh;
  width: 80vw;
  border: 2px solid var(--color-secondary-int4);
  box-shadow: var(--shadow-level1);
}

#links {
  order: 0;
  width: 120px;
  background-color: var(--color-links-bg);
  font-weight: bold;
  color: var(--color-links-font);

  & ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    & li#header {
      padding: var(--padding-half);

      /* hack to enfore alignment */
      &:before {
        content: '\25E2';
        font-size: var(--font-size-small);
        padding-right: var(--padding-quarter);
        vertical-align: top;
        color: var(--color-links-bg);
      }
    }

    & li.link-header {
      background-color: var(--color-link-header-bg);
      padding: 0.1rem var(--padding-half);

      &:before {
        content: '\25E2';
        font-size: var(--font-size-small);
        padding-right: var(--padding-quarter);
        vertical-align: top;
      }
    }

    & a.site-link {
      display: inline-block;
      padding: 0.1rem var(--padding-default);
      width: 100%;
      color: inherit;

      &.active,
      &:hover {
        background-color: var(--color-link-active);
      }

      &:before {
        content: '# ';
        color: var(--color-link-icon);
        padding-right: var(--padding-quarter);
      }
    }
  }
}

#editor {
  order: 1;
  width: 100%;

  & #tabs {
    background-color: var(--color-tabs-bg);
    box-shadow: var(--shadow-bottom-only);

    & ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      & li {
        display: inline-block;
        /* prettier-ignore */
        padding: 
          var(--padding-half) 
          var(--padding-double) 
          var(--padding-half)
          var(--padding-default);
        width: auto;
        color: var(--color-tab-font);
        font-weight: bold;
        border-right: 1px solid var(--color-tab-border);

        &.active {
          background-color: var(--color-tab-active);
        }

        &:before {
          content: '<>';
          color: var(--color-tab-icon);
          padding-right: var(--padding-half);
        }
      }
    }
  }
}

#editor-container {
  display: flex;
  flex-direction: columns;
}

#gutter {
  order: 0;
  width: 30px;
  padding: var(--padding-default);
  color: var(--color-gutter-font);
  border-right: 1px solid var(--color-gutter-font);

  & p {
    margin: 0;
  }
}

#code-window {
  order: 1;
  padding: var(--padding-default);
  color: white;

  & .typed {
    display: none;
    margin: 0;
  }

  & .typed.visible {
    display: block;
  }

  & .typed.active {
    &:after {
      content: '\258C';
      animation: cursor-blink 1s linear infinite;
    }
  }
}
