:root {
  /* 


  --color-alert-danger: rgba(249, 23, 24, 1);
  --color-alert-error: rgba(209, 109, 48, 1);
  --color-alert-warn: rgba(192, 207, 61, 1);
  --color-alert-notify: rgba(94, 208, 60, 1);
  --color-alert-inform: rgba(67, 209, 153, 1);
  --color-alert-success: rgba(45, 166, 204, 1); */

  /* Colors */
  /* TODO: Organize */
  --color-links-bg: rgba(37, 37, 37, 1);
  --color-links-font: rgba(190, 190, 190, 1);
  --color-link-active: rgba(63, 63, 70, 1);
  --color-link-icon: rgba(73, 107, 137, 1);
  --color-link-header-bg: rgba(56, 56, 56, 1);
  --color-gutter-font: rgba(90, 90, 90, 1);
  --color-tabs-bg: var(--color-link-active);
  --color-tab-active: var(--color-editor-bg);
  --color-tab-font: var(--color-links-font);
  --color-tab-border: var(--color-editor-bg);
  --color-tab-icon: rgba(253, 161, 38, 1);
  --color-editor-bg: rgba(30, 30, 30, 1);
  --color-editor-border: rgba(180, 180, 180, 1);
  --color-editor-int1: rgba(211, 224, 235, 1);
  --color-editor-int2: rgba(177, 204, 221, 1);
  --color-editor-int3: rgba(107, 154, 180, 1);
  --color-editor-int4: rgba(73, 107, 137, 1);
  --color-editor-int5: rgba(230, 230, 230, 1);
  --color-editor-int6: rgba(217, 206, 210, 1);
  --color-editor-int7: rgba(165, 151, 154, 1);
  --color-editor-int8: rgba(115, 115, 115, 1);

  /* Padding */
  --padding-quarter: 0.25rem;
  --padding-half: 0.5rem;
  --padding-default: 1rem;
  --padding-double: 2rem;

  --line-height-default: 1.2rem;

  /* Font Sizes */
  --font-size-small: 0.5rem;
  --font-size-default: 12px;
  --font-size-large: 1.5rem;

  /* Screen Sizes */
  --small-screen: 576px;
  --medium-screen: 768px;
  --large-screen: 992px;
  --xlarge-screen: 1200px;

  /* Shadows */
  --shadow-level1: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  --shadow-bottom-only: 0 3px 10px rgba(0, 0, 0, 0.3);
}
