:root {
  /* Colors */
  --color-alert-danger: rgba(249, 23, 24, 1);
  --color-alert-error: rgba(209, 109, 48, 1);
  --color-alert-warn: rgba(192, 207, 61, 1);
  --color-alert-notify: rgba(94, 208, 60, 1);
  --color-alert-inform: rgba(67, 209, 153, 1);
  --color-alert-success: rgba(45, 166, 204, 1);

  /* Padding */
  --padding-quarter: 0.25rem;
  --padding-half: 0.5rem;
  --padding-default: 1rem;
  --padding-double: 2rem;

  --line-height-default: 1.2rem;

  /* Font Sizes */
  --font-size-small: 0.5rem;
  --font-size-default: 12px;
  --font-size-large: 1.5rem;

  /* Screen Sizes */
  --small-screen: 576px;
  --medium-screen: 768px;
  --large-screen: 992px;
  --xlarge-screen: 1200px;

  /* Shadows */
  --shadow-level1: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
